body {
    margin: auto;
    text-align: center;
    font-family: 'Avenir';
    background-color: white;
    padding: 2em;
    font-size: large;
    max-width: 50em;
}

p {
    text-align: center;
}

h1,
form,
table {
    margin: auto;
}

img {
    width: 20em;
}

label:hover {
    cursor: pointer;
}

#gif {
    max-width: 100%;
}

button {
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 30%;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.row-img {
    grid-row: 1;
}

.row-lbl {
    grid-row: 2;
}