body {
    margin: auto;
    text-align: center ;
    font-family: 'Avenir';
    background-color: white;
    padding: 2em;
    font-size: large;
    max-width: 50em;
}

li {
    text-align: justify;
}

p {
    font-weight: bold;
    text-align: center;
}

h1,
form,
table {
    margin: auto;
}

table img {
    width: 20em;
}

li {
    list-style: none;
}

li:last-of-type {
    margin-top: 3em;
}

label:hover {
    cursor: pointer;
}